*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.section-one{
    background-color: #4e4e4e;
    display: flex;
    flex-direction: column;
 

}
.top-header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #f9faf8;

}
.head-li{

    color: #f9faf8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    gap: 20px;
}
.head-li a{
    text-decoration: none;
    color: #f9faf8;
}
.below-head-container{
    color: #f9faf8;
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
}
.blow-head{
    color: #f9faf8;
    display: flex;
    flex-direction: column;
}
.below-header{
    font-size: 30px;
    justify-content: center;
}
.about-desc{
    width: 670px;
}
.section-two{
    background-color: #eeeeee;
    color: #4e4e4e;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    padding: 50px;
}
.info-head{
    font-style: italic;
    padding: 5px;
    margin-bottom: 35px;
}
.project-container{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.project-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}
.project-desc-container{
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 40px;
    
}
.project-desc{
    width: 250px;
}
.manga-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}
.img-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 40px;
}
.section-three{
    background-color: #f9faf8;
    color: #4e4e4e;
    display: flex;
    justify-content: space-between;

}
.background-container{
    padding: 40px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.background-container p{
    font-size: 13px;

}

.info-about-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 425px;
}
