*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.section-one{
    background-color: #4e4e4e;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    
}
.header#top{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex: 1;

}
#header-logo h1{
    font-size: 20px;

}
#header-links{
    display: flex;
    gap: 15px;

}
#header-links a{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #f9faf8;

}
.header#bottom{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.about-me{
    
    max-width: 50%;
    
}
.section-two{
    background-color: #eeeeee;
    color: #4e4e4e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    
}
.info-head{
    font-style: italic;
    padding: 5px;
    margin-bottom: 35px;
}
.s2-project-container{
    display: flex;

}
.project-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}
.project-temp{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 250px;
    
}
.project-temp img{
    width: 100%; /* Make sure the image takes up the full width of its container */
    height: auto;
}
.manga-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}
.img-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 40px;
}
.section-three{
    background-color: #f9faf8;
    color: #4e4e4e;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

}
.background-container{
    padding: 40px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.background-container p{
    font-size: 13px;
}

.info-about-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.section-two-b{
    color: #4e4e4e;
    padding: 50px;
}
.blog-container{
    display: flex;
    flex-direction: column;
    width: 425px;    
}
.blog-post{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

}
.section-two-blog{
    background-color: #f9faf8;
    color: #4e4e4e;
    display: flex;
    justify-content: center;
    padding: 70px;

}
#concepts h1, #concepts h3{
    font-style: italic;
    text-align: center;

}
#daily-life h1, #daily-life h3{
    font-style: italic;
    text-align: center;

}
